<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Samarth-Resume</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <div class="profile">
          <div class="image">
            <img src="image/IMG_20221201_154818.jpg" alt="myPhoto" />
          </div>
          <div class="p-info">
            <h3>Samarth Acharya</h3>
            <h5 style="text-align: center; opacity: 0.5">Web Developer</h5>
            <hr />
          </div>
        </div>
        <div class="c-info">
          <h1 style="opacity: 0.8; font-size: large; color: aliceblue">
            CONTACT INFO
          </h1>
          <p>
            <i class="fa-solid fa-phone"></i> +917987738993 <br />
            <i class="fa-solid fa-envelope"></i> Samarth.acharya@gmail.com
            <br />
            <i class="fa-brands fa-instagram"></i>
            <a href="https://www.instagram.com/samarth__1014/"
              >@Samarth acharya</a
            >
            <br />
            <i class="fa-brands fa-github"></i>
            <a href="https://github.com/Samarth1015"> Samarth1015</a>
          </p>
        </div>
      </div>
      <div class="details">
        <div class="about-p">
          <h1 style="color: #6274cd">
            ABOUT ME
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="line"></div>
          </h1>
          <p>
            I am a self-motivated sophomore currently pursuing a B.Tech at
            IIIT-Vadodara. I am actively exploring various domains such as web
            development and Android development to broaden my skill set and
            knowledge base. To enhance my critical thinking and problem-solving
            abilities, I regularly tackle competitive programming challenges on
            LeetCode. Additionally, I am a 2-star coder on CodeChef, with a
            maximum rating of 1407.
            <br /><br />
            My passion for learning new things drives me to continuously seek
            out new opportunities and challenges in the tech world. I have a
            keen interest in technology and love to explore its various facets,
            always eager to expand my understanding and capabilities. Whether
            it's diving into a new programming language, experimenting with
            different development frameworks, or solving complex coding
            problems, I am enthusiastic about every aspect of tech and am
            committed to my growth in this dynamic field.
          </p>
        </div>
        <div class="exp-p">
          <div class="exp">
            <h1 style="color: #6274cd">
              Experience&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="line"></div>
            </h1>
            <div class="Education">
              <div class="li">
                <ul>
                  <li>
                    <u>Technical skills</u>:
                    <ul>
                      <li>Programming: C/C++/JAVA/JAVASCRIPT/CSS</li>
                      <li>Database: MySQL/MONGOOSE</li>
                    </ul>
                  </li>
                  <li>
                    <u>Soft skills</u>:
                    <ul>
                      <li>Verbal and Written Communication</li>
                      <li>Critical thinking</li>
                      <li>Public speaking</li>
                    </ul>
                  </li>
                  <li>
                    <u>Education</u>:
                    <ul>
                      <li>School: Ryan International School</li>
                      <li>College: 2nd Year in IIIT-VADODARA</li>
                    </ul>
                  </li>
                  <li>
                    <u>Interests</u>:
                    <ul>
                      <li>Sports: Basketball/Cricket/Badminton</li>
                      <li>Reading books</li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="achievement">
                <h1>Grades</h1>
                <ul>
                  <li>Class 10th: 93%</li>
                  <li>Class 12th: 89%</li>
                  <li>1st year: SPI-8.26/CPI-8.24</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
