<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <div class="profile">
          <div class="image">
            <img src="/image/IMG_20221201_154818.jpg" alt="myPhoto" />
          </div>
          <div class="p-info">
            <h3>Samarth Acharya</h3>
            <h5 style="text-align: center; opacity: 0.5">Web-devloper</h5>
            <hr />
          </div>
        </div>
        <div class="c-info">
          <h1 style="opacity: 0.8; font-size: large; color: aliceblue">
            CONTACT INFO
          </h1>
          <P
            ><i class="fa-solid fa-phone"></i> 7987738993 <br />
            <i class="fa-solid fa-envelope"></i> Samarth.acharya@gmail.com
            <br />
            <i class="fa-brands fa-instagram"></i
            ><a href="https://www.instagram.com/samarth__1014/">
              @Samarth acharya</a
            >
          </P>
        </div>
      </div>
      <div class="details">
        <div class="about-p">
          <h1 style="color: #6274cd">
            ABOUT ME
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="line"></div>
          </h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ad
            officia? Illo molestias dolores exercitationem distinctio
            consectetur velit eveniet accusantium sunt neque blanditiis
            explicabo impedit expedita quibusdam asperiores delectus rerum optio
            ullam at, obcaecati aspernatur recusandae. In, vero doloremque sunt
            eligendi reiciendis, voluptas fugit nisi harum alias perspiciatis,
            neque ad. Necessitatibus adipisci voluptatum incidunt quos dolorum
            veritatis suscipit voluptatem est odio enim! Quibusdam reprehenderit
            itaque architecto repellat odio vel illo eum, libero laudantium
            saepe. Maiores corrupti reiciendis nam repellat et?
          </p>
        </div>
        <div class="exp-p">
          <div class="exp">
            <h1 style="color: #6274cd">
              Experience&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="line"></div>
            </h1>
            <div class="Education">
              <div class="li">
            <ul>
              <li><u>Language</u>: C/C++/Java/HTML/CSS/JS</li>
              <li><u>School</u>: Ryan International School</li>
              <li><u>Education</u>: 2nd Year in IIIT-VADODARA</li>
            </ul>
            </div>
            <div class="achievement">
              <ul style="margin-left: 14rem;">
                <li>1st sem cpi:8.33</li>
                <li>2nd sem cpi:8.22</li>
                <li>currently learning Web Dev</li>
              </ul>
            </div>
            </div>
            


          </div>
         
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
